@model DocumentRegistry.Web.Models.User.User

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuń użytkownika</h2>

<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.FirstName):</strong>
    @Html.DisplayFor(x => x.FirstName)
</div>
<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.LastName):</strong>
    @Html.DisplayFor(x => x.LastName)
</div>
<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.Login):</strong>
    @Html.DisplayFor(x => x.Login)
</div>
<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.Email):</strong>
    @Html.DisplayFor(x => x.Email)
</div>
<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.IsAdmin):</strong>
    @Html.DisplayFor(x => x.IsAdmin ? "Administrator" : "Użytkownik")
</div>

@using (Html.BeginForm("Delete", "User"))
{
    @Html.HiddenFor(x => x.Id)
    <div class="row ml-3 mt-3">
        @Html.ActionLink("Wróć", "Details", "User", new {id = Model.Id}, new {@class = "btn btn-secondary"})
        <div class="col-sm-4"></div>
        <input type="submit" value="Usuń" class="btn btn-danger"/>
    </div>
}