@model DocumentRegistry.Web.Models.PostCompany.PostCompany

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuń firmę pocztową</h2>
<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.Name):</strong>
    @Html.DisplayFor(x => x.Name)
</div>
<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.Code):</strong>
    @Html.DisplayFor(x => x.Code)
</div>
<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.City):</strong>
    @Html.DisplayFor(x => x.City)
</div>
<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.Street):</strong>
    @Html.DisplayFor(x => x.Street)
</div>
<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.ContractNumber):</strong>
    @Html.DisplayFor(x => x.ContractNumber)
</div>
<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.ContractDate):</strong>
    @Html.DisplayFor(x => x.ContractDate)
</div>
<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.PostOffice):</strong>
    @Html.DisplayFor(x => x.PostOffice)
</div>

@using (Html.BeginForm("Delete", "PostCompany"))
{
    @Html.HiddenFor(x => x.Id)
    <div class="row ml-3 mt-3">
        @Html.ActionLink("Wróć", "Details", "PostCompany", new {id = Model.Id}, new {@class = "btn btn-secondary"})
        <div class="col-sm-4"></div>
        <input type="submit" value="Usuń" class="btn btn-danger"/>
    </div>
}