@model DocumentRegistry.Web.Models.Company.Company

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Usuń firmę: @Model.Name</h2>


<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.Name):</strong>
    @Html.DisplayFor(x => x.Name)
</div>
<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.Branch):</strong>
    @Html.DisplayFor(x => x.Branch)
</div>
<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.Street):</strong>
    @Html.DisplayFor(x => x.Street)
</div>
<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.City):</strong>
    @Html.DisplayFor(x => x.City)
</div>
<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.PostalCode):</strong>
    @Html.DisplayFor(x => x.PostalCode)
</div>
<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.PostName):</strong>
    @Html.DisplayFor(x => x.PostName)
</div>
<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.PostStreet):</strong>
    @Html.DisplayFor(x => x.PostStreet)
</div>
<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.PostCity):</strong>
    @Html.DisplayFor(x => x.PostCity)
</div>
<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.PostPostalCode):</strong>
    @Html.DisplayFor(x => x.PostPostalCode)
</div>

@using (Html.BeginForm("Delete", "Company"))
{
    @Html.HiddenFor(x => x.Id)
    <div class="row ml-3 mt-3">
        @Html.ActionLink("Wróć", "Details", "Company", new {companyId = Model.Id}, new {@class = "btn btn-secondary"})
        <div class="col-sm-4"></div>
        <input type="submit" value="Usuń" class="btn btn-danger"/>
    </div>
}



