@model DocumentRegistry.Web.Models.Company.Search

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h2 class="col-sm-2">Firmy</h2>
    <div class="col-sm-8"></div>
    @Html.ActionLink("Dodaj", "Create", "Company", null, new {@class = "btn btn-outline-secondary mb-2"})
</div>

<div class="row">
    
</div>

<table class="table table-sm">
<tr class="table-active">
    <td>@Html.DisplayNameFor(x => x.Companies.First().Name)</td>
    <td>@Html.DisplayNameFor(x => x.Companies.First().City)</td>
    <td>@Html.DisplayNameFor(x => x.Companies.First().Street)</td>
    <td>@Html.DisplayNameFor(x => x.Companies.First().Branch)</td>
    <td>@Html.DisplayNameFor(x => x.Companies.First().PostalCode)</td>
    <td></td>
</tr>

@foreach (var company in Model.Companies)
{
    <tr>
        <td>@company.Name</td>
        <td>@company.City</td>
        <td>@company.Street</td>
        <td>@company.Branch</td>
        <td>@company.PostalCode</td>
        <td>
            @Html.ActionLink("Szczegóły", "Details", "Company", new {id = company.Id}, new {@class = "btn btn-outline-primary btn-sm"})
        </td>
    </tr>
}
</table>

