@model DocumentRegistry.Web.Models.Employee.Employee

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuń pracownika</h2>

<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.FirstName):</strong>
    @Html.DisplayFor(x => x.FirstName)
</div>
<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.LastName):</strong>
    @Html.DisplayFor(x => x.LastName)
</div>
<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.Company.Name):</strong>
    @Html.DisplayFor(x => x.Company.Name)
</div>

@using (Html.BeginForm("Delete", "Employee"))
{
    @Html.HiddenFor(x => x.Id)
    <div class="row ml-3 mt-3">
        @Html.ActionLink("Wróć", "Details", "Employee", new {id = Model.Id}, new {@class = "btn btn-secondary"})
        <div class="col-sm-4"></div>
        <input type="submit" value="Usuń" class="btn btn-danger"/>
    </div>
}