@model DocumentRegistry.Web.Models.Employee.CreateEdit

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pb-2">
    <h2>Dodaj pracownika</h2>
</div>
@using (Html.BeginForm("Create", "Employee"))
{
    <div class="form-group row pl-3">
        <div class="col-sm-3">
            <div class="row pb-1">
                @Html.LabelFor(x => x.FirstName, new {@class = "required"})
                @Html.TextBoxFor(x => x.FirstName, null, new {@class = "form-control"})
            </div>
        </div>
    </div>
    <div class="form-group row pl-3">
        <div class="col-sm-3">
            <div class="row pb-1">
                @Html.LabelFor(x => x.LastName, new {@class = "required"})
                @Html.TextBoxFor(x => x.LastName, null, new {@class = "form-control"})
            </div>
        </div>
    </div>
    <div class="form-group row pl-3">
        <div class="col-sm-3">
            <div class="pb-1">
                <div class="row">
                    @Html.LabelFor(x => x.CompanyId, new {@class = "required"})
                    <input type="text" id="companySearchInput" class="form-control">
                    @Html.HiddenFor(x => x.CompanyId)
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-2">
            <input type="submit" value="Dodaj" class="btn btn-primary">
        </div>
    </div>
}


@section Scripts
{
    <script>
    
    $(document).ready(function () {
        
        function updateCompanyId(company){
            if (company == null) return;
            
            $(@Html.IdFor(x => x.CompanyId)).val(company.id)
        }
        
        function clearCompanyId(){
            $(@Html.IdFor(x => x.CompanyId)).val(0)
        }     
        
        $("#companySearchInput").tokenInput("/Company/SearchNames", {
            tokenLimit: 1, 
            resultsLimit: 10,
            onDelete: function (item) {
                clearCompanyId();   
            },
            onAdd: function (item){
                formatResult();
                if (item.id != ""|| item.id != null)
                    $.get("/Company/GetDetails?id=" + item.id, function(data, status){
                    updateCompanyId(data);
                });
            },
            onResult: function (items){
                var result = items.slice(0,5);
                return result;
            }
        })
        
       $.each($('.token-input-list'), function(x,y) {$(y).addClass("no-token-border")});
               
       $.each($('.token-input-input-token :input'), function(x,y) {$(y).addClass('itoken')});
    
    
       function  formatResult(){
            $.each($('.token-input-token'), function(x,y) {$(y).addClass('itoken')});
       }
        
    });
    </script>
}

