@model DocumentRegistry.Web.Models.Employee.Employee

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pracownik</h2>

<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.FirstName):</strong>
    @Html.DisplayFor(x => x.FirstName)
</div>
<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.LastName):</strong>
    @Html.DisplayFor(x => x.LastName)
</div>
<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.KeyCompanyName):</strong>
    @Html.DisplayFor(x => x.KeyCompanyName)
</div>

<div class="row mt-4 ml-2">
    @Html.ActionLink("Wróć", "Search", "Employee", null, new {@class = "btn btn-secondary col-sm-1"})
    <div class="col-sm-7"></div>
    @Html.ActionLink("Edytuj", "Edit", "Employee", new {id = Model.Id}, new {@class = "btn btn-warning col-sm-1"})
    @Html.ActionLink("Usuń", "ConfirmDelete", "Employee", new {id = Model.Id}, new {@class = "btn btn-danger col-sm-1  ml-1"})
</div>
