@model DocumentRegistry.Web.Models.Employee.CreateEdit

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edycja pracownika</h2>
@using (Html.BeginForm("Edit", "Employee"))
{
    @Html.HiddenFor(x => x.Id)

    <div class="form-group row pl-3">
        <div class="col-sm-3">
            <div class="row pb-1">
                @Html.LabelFor(x => x.FirstName, new {@class = "required"})
                @Html.TextBoxFor(x => x.FirstName, null, new {@class = "form-control"})
            </div>
        </div>
    </div>
    <div class="form-group row pl-3">
        <div class="col-sm-3">
            <div class="row pb-1">
                @Html.LabelFor(x => x.LastName, new {@class = "required"})
                @Html.TextBoxFor(x => x.LastName, null, new {@class = "form-control"})
            </div>
        </div>
    </div>
    <div class="form-group row pl-3">
        <div class="col-sm-3">
            <div class="pb-1">
                <div class="row">
                    @Html.LabelFor(x => x.SelectedCompanyId, new {@class = "required"})
                </div>
                <div class="row">
                    @Html.DropDownListFor(x => x.SelectedCompanyId, Model.Companies, null, new {@class = "form-control"})
                </div>
            </div>
        </div>
    </div>
    
   <div class="row mt-3 pl-3">
        @Html.ActionLink("Wróć", "Details", "Employee", new {id = Model.Id}, new {@class = "btn btn-secondary"})
        <div class="col-sm-6"></div>
        <div class="col-sm-2">
            <input type="submit" value="Zapisz" class="btn btn-primary">
        </div>
    </div>
}