@model DocumentRegistry.Web.Models.Employee.Search

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <h2 class="col-sm-2">Pracownicy</h2>
    <div class="col-sm-8"></div>
    @Html.ActionLink("Dodaj", "Create", "Employee", null, new {@class = "btn btn-outline-secondary mb-2"})
</div>

<div class="row">
    
</div>
<table class="table table-sm">
    <tr class="table-active">
        <td>@Html.DisplayNameFor(x => x.Employees.First().FirstName)</td>
        <td>@Html.DisplayNameFor(x => x.Employees.First().LastName)</td>
        <td>@Html.DisplayNameFor(x => x.Employees.First().CompanyName)</td>
        <td></td>
    </tr>

    @foreach (var employee in Model.Employees)
    {
        <tr>
            <td>@employee.FirstName</td>
            <td>@employee.LastName</td>
            <td>@employee.CompanyName</td>
            <td>@Html.ActionLink("Szczegóły", "Details", "Employee", new {id = employee.Id}, new {@class = "btn btn-outline-primary btn-sm"})</td>
        </tr>
    }
</table>
