@model DocumentRegistry.Web.Models.Employee.Search

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pracownicy</h2>

    <table class="table table-sm">
<tr>
    <td>@Html.DisplayNameFor(x => x.Employees.First().FirstName)</td>
    <td>@Html.DisplayNameFor(x => x.Employees.First().LastName)</td>
    <td>@Html.DisplayNameFor(x => x.Employees.First().Company)</td>
    <td></td>
</tr>

@foreach (var employee in Model.Employees)
{
    <tr>
        <td>@employee.FirstName</td>
        <td>@employee.LastName</td>
        <td>@employee.Company.Name</td>
        <td>@Html.ActionLink("Szczegóły", "Details", "Employee", new {id = employee.Id}, new {@class = "btn btn-outline-primary btn-sm"})</td>
    </tr>
}
</table>
