@model DocumentRegistry.Web.Models.Letter.Letter

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuń dokument</h2>
<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.Id):</strong>
    @Html.DisplayFor(x => x.Id)
</div>
<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.Date):</strong>
    @Html.DisplayFor(x => x.DateString)
</div>
<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.ReceiveDate):</strong>
    @Html.DisplayFor(x => x.ReceiveDateString)
</div>
<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.Content):</strong>
    @Html.DisplayFor(x => x.Content)
</div>
<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.EmployeeFullName):</strong>
    @Html.DisplayFor(x => x.EmployeeFullName)
</div>
<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.CompanyName):</strong>
    @Html.DisplayFor(x => x.CompanyName)
</div>
<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.DocumentTypeName):</strong>
    @Html.DisplayFor(x => x.DocumentTypeName)
</div>
<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.Other):</strong>
    @Html.DisplayFor(x => x.Other)
</div>
<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.PR):</strong>
    @Html.DisplayFor(x => x.PR)
</div>
<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.PO):</strong>
    @Html.DisplayFor(x => x.PO)
</div>
<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.CompanyName):</strong>
    @Html.DisplayFor(x => x.CompanyName)
</div>
<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.CompanyStreet):</strong>
    @Html.DisplayFor(x => x.CompanyStreet)
</div>
<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.CompanyCity):</strong>
    @Html.DisplayFor(x => x.CompanyCity)
</div><div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.CompanyPostalCode):</strong>
    @Html.DisplayFor(x => x.CompanyPostalCode)
</div>
<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.CompanyPostName):</strong>
    @Html.DisplayFor(x => x.CompanyPostName)
</div>
<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.CompanyPostStreet):</strong>
    @Html.DisplayFor(x => x.CompanyPostStreet)
</div>
<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.CompanyPostCity):</strong>
    @Html.DisplayFor(x => x.CompanyPostCity)
</div>
<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.CompanyPostPostalCode):</strong>
    @Html.DisplayFor(x => x.CompanyPostPostalCode)
</div>
<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.EmployeeFirstName):</strong>
    @Html.DisplayFor(x => x.EmployeeFirstName)
</div>
<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.EmployeeLastName):</strong>
    @Html.DisplayFor(x => x.EmployeeLastName)
</div>
@* <div class="row ml-2"> *@
@*     <strong class="mr-1">@Html.DisplayNameFor(x => x.Kind):</strong> *@
@*     @Html.DisplayFor(x => x.Kind) *@
@* </div> *@

@using (Html.BeginForm("Delete", "Letter"))
{
    @Html.HiddenFor(x => x.Id)
    <div class="row ml-3 mt-3">
        @Html.ActionLink("Wróć", "Details", "Letter", new {id = Model.Id}, new {@class = "btn btn-secondary"})
        <div class="col-sm-4"></div>
        <input type="submit" value="Usuń" class="btn btn-danger"/>
    </div>
}