@model DocumentRegistry.Web.Models.Letter.Letter

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dokument</h2>

<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.Id):</strong>
    @Html.DisplayFor(x => x.Id)
</div>
<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.Date):</strong>
    @Html.DisplayFor(x => x.DateString)
</div>
<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.ReceiveDate):</strong>
    @Html.DisplayFor(x => x.ReceiveDateString)
</div>
<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.Content):</strong>
    @Html.DisplayFor(x => x.Content)
</div>
<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.EmployeeFullName):</strong>
    @Html.DisplayFor(x => x.EmployeeFullName)
</div>
<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.CompanyName):</strong>
    @Html.DisplayFor(x => x.CompanyName)
</div>
<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.DocumentTypeName):</strong>
    @Html.DisplayFor(x => x.DocumentTypeName)
</div>
<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.Other):</strong>
    @Html.DisplayFor(x => x.Other)
</div>
  <div class="row pl-4 pb-1">
       <div class="col-sm-2 form-check">  
           @Html.CheckBoxFor(x => x.PO, new {@class = "form-check-input", disabled = "disabled" })
           @Html.LabelFor(x => x.PO, new {@class = "form-check-label"})
       </div>
       <div class="col-sm-2 form-check">
           @Html.CheckBoxFor(x => x.PR, new {@class = "form-check-input", disabled = "disabled"})
           @Html.LabelFor(x => x.PR)
       </div>
    </div>
    <div class="row ml-2">
        <strong class="mr-1">@Html.DisplayNameFor(x => x.DocumentDirectionName):</strong>
        @Html.DisplayFor(x => x.DocumentDirectionName)
    </div>
@*<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.PR):</strong>
    @Html.DisplayFor(x => x.PR)
</div>
<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.PO):</strong>
    @Html.DisplayFor(x => x.PO)
</div>*@
<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.CompanyName):</strong>
    @Html.DisplayFor(x => x.CompanyName)
</div>
<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.CompanyStreet):</strong>
    @Html.DisplayFor(x => x.CompanyStreet)
</div>
<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.CompanyCity):</strong>
    @Html.DisplayFor(x => x.CompanyCity)
</div>
<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.CompanyPostalCode):</strong>
    @Html.DisplayFor(x => x.CompanyPostalCode)
</div>

<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.CompanyPostName):</strong>
    @Html.DisplayFor(x => x.CompanyPostName)
</div>

<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.CompanyPostStreet):</strong>
    @Html.DisplayFor(x => x.CompanyPostStreet)
</div>

<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.CompanyPostCity):</strong>
    @Html.DisplayFor(x => x.CompanyPostCity)
</div>

<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.CompanyPostPostalCode):</strong>
    @Html.DisplayFor(x => x.CompanyPostPostalCode)
</div>

<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.EmployeeFirstName):</strong>
    @Html.DisplayFor(x => x.EmployeeFirstName)
</div>

<div class="row ml-2">
    <strong class="mr-1">@Html.DisplayNameFor(x => x.EmployeeLastName):</strong>
    @Html.DisplayFor(x => x.EmployeeLastName)
</div>

<div class="row mt-4 ml-2">
    @Html.ActionLink("Wróć", "Search", "Letter", null, new {@class = "btn btn-secondary col-sm-1"})
    <div class="col-sm-7"></div>
    @Html.ActionLink("Edytuj", "Edit", "Letter", new {id = Model.Id}, new {@class = "btn btn-warning col-sm-1"})
    @Html.ActionLink("Usuń", "ConfirmDelete", "Letter", new {id = Model.Id}, new {@class = "btn btn-danger col-sm-1  ml-1"})
</div>
