@model DocumentRegistry.Web.Models.Letter.Search

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dokumenty</h2>
<div>
    <table class="table table-sm">
      <tr>
          <td>@Html.DisplayNameFor(x => x.Letters.First().Number)</td>
          <td>@Html.DisplayNameFor(x => x.Letters.First().KeyPostCompanyName)</td>
          <td>@Html.DisplayNameFor(x => x.Letters.First().Date)</td>
          <td>@Html.DisplayNameFor(x => x.Letters.First().ReceiveDate)</td>
          <td>@Html.DisplayNameFor(x => x.Letters.First().Content)</td>
          <td>@Html.DisplayNameFor(x => x.Letters.First().KeyEmployeeFullName)</td>
          <td>@Html.DisplayNameFor(x => x.Letters.First().KeyCompanyName)</td>
          <td>@Html.DisplayNameFor(x => x.Letters.First().KeyDocumentTypeName)</td>
          <td>@Html.DisplayNameFor(x => x.Letters.First().Other)</td>
          <td>@Html.DisplayNameFor(x => x.Letters.First().PR)</td>
          <td>@Html.DisplayNameFor(x => x.Letters.First().PO)</td>
          <td>@Html.DisplayNameFor(x => x.Letters.First().Kind)</td>
          <td></td>
      </tr>
      
      @foreach (var letter in Model.Letters)
      {
          <tr>
              <td>@letter.Number</td>
              <td>@letter.KeyPostCompanyName</td>
              <td>@letter.Date</td>
              <td>@letter.ReceiveDate</td>
              <td>@letter.KeyEmployeeFullName</td>
              <td>@letter.KeyCompanyName</td>
              <td>@letter.KeyDocumentTypeName</td>
              <td>@letter.Other</td>
              <td>@letter.PR</td>
              <td>@letter.PO</td>
              <td>@letter.Kind</td>
              <td>@Html.ActionLink("Szczegóły", "Details", "Letter", new {id = letter.Id}, new {@class = "btn btn-outline-primary btn-sm"})</td>
          </tr>
      }
      </table>
</div>
