@model DocumentRegistry.Web.Models.Letter.Search

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h2 class="col-sm-2">Dokumenty</h2>
    <div class="col-sm-8"></div>
    @Html.ActionLink("Dodaj", "Create", "Letter", null, new {@class = "btn btn-outline-secondary mb-2"})
</div>

<div class="row">
    
</div>
<div>
    <table class="table table-sm">
      <tr class="table-active">
          <td>@Html.DisplayNameFor(x => x.Letters.First().Id)</td>
          <td>@Html.DisplayNameFor(x => x.Letters.First().Date)</td>
          <td>@Html.DisplayNameFor(x => x.Letters.First().ReceiveDate)</td>
          <td>@Html.DisplayNameFor(x => x.Letters.First().Content)</td>
          <td>@Html.DisplayNameFor(x => x.Letters.First().CompanyName)</td>
          <td>@Html.DisplayNameFor(x => x.Letters.First().DocumentTypeName)</td>
          <td>@Html.DisplayNameFor(x => x.Letters.First().DocumentDirectionName)</td>
          <td></td>
      </tr>
      
      @foreach (var letter in Model.Letters)
      {
          <tr>
              <td>@letter.Id</td>
              <td>@letter.Date.ToShortDateString()</td>
              <td>@letter.ReceiveDate.ToShortDateString()</td>
              <td>@letter.Content</td>
              <td>@letter.CompanyName</td>
              <td>@letter.DocumentTypeName</td>
              <td>@letter.DocumentDirectionName</td>
              <td>@Html.ActionLink("Szczegóły", "Details", "Letter", new {id = letter.Id}, new {@class = "btn btn-outline-primary btn-sm"})</td>
          </tr>
      }
      </table>
</div>
